.login {
   display: grid;
   place-items: center;
   background-color: #30475E;
   height: 100vh;
}

.login>a {
   padding: 20px;
   cursor: pointer;
   border-radius: 99px;
   font-weight: 800;
   background-color: #1bd954;
   color: white;
   text-decoration: none;
}